@import "tailwindcss";

@theme {
  --text-8: 8px;
  --text-10: 10px;
  --text-12: 12px;
  --text-14: 14px;
  --text-15: 15px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-22: 22px;
  --text-25: 25px;
  --text-28: 28px;
  --text-30: 30px;
  --text-32: 32px;
  --text-35: 35px;
  --text-40: 40px;
  --text-50: 50px;
  --text-55: 55px;
  --text-60: 60px;
  --color-dark-blue: #14213d;
  --color-forest-green: #0f4c4c;
  --color-light-gray: #f5f5f5;
  --color-deep-navy: #0d1a2d;
  --color-muted-teal: #0c6b6b;
  --color-soft-gold: #c9a227;
  --color-emirald-green: #1e6d5a;
  --color-crismon-red:#A02424
}

body {
  height: 100%;
  width: 100%;
}

.fold {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 0;
  border-style: solid;
  border-color: transparent #f8faff transparent #f8faff;
  display: block;
  /*border-radius:3px 0 0 0;*/
  background: rgba(0, 0, 0, 0.6);
  border-width: 0px 15px 15px 0px;
  -webkit-transition: border-width 0.2s ease-out;
  -moz-transition: border-width 0.2s ease-out;
  -ms-transition: border-width 0.2s ease-out;
  -o-transition: border-width 0.2s ease-out;
  transition: border-width 0.2s ease-out;
}
.sidebar-link:hover .fold {
  border-width: 0;
}
